/* General */
body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background-color: #F7F6F3;
  color: #222;
}

/* Header */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f0e6f6;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.header-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
}

header h1 {
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 300;
}


header nav a {
  margin-left: 1em;
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #f0e6f6;
  padding: 1em 2em;
  text-align: center;
}

footer a {
  margin: 0 0.5em;
  text-decoration: none;
  color: #222;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive */
@media(max-width:600px){
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  header h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  header nav a {
    margin-left: 0;
    margin-right: 1em;
  }
}

/* Sections */
section {
  max-width: 900px;
  margin: 0 auto;
  padding: 4em 2em;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
