/* General */
/* Remove default body margin/padding */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  background-color: #F7F6F3;
  color: #222;
}

/* Center content and match header width */
main, section {
  max-width: 1000px;
  margin: 0 auto; /* centers it like the header */
  padding: 2em 1em; /* consistent padding with header */
}

/* Optional: spacing between sections */
section + section {
  margin-top: 2em;
}

/* Header */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #F7F6F3;
  box-shadow: 0 0px 0px rgba(0,0,0,0);
  z-index: 1000;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
}

header h1 {
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-weight: 300;
}


header nav a {
  margin-left: 1em;
  text-decoration: none;
  text-transform: lowercase;
  color: #222;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #F7F6F3;
  padding: 1em 2em;
  text-align: center;
}

footer a {
  margin: 0 0.5em;
  text-decoration: none;
  text-transform: lowercase;
  color: #222;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive */
@media(max-width:600px){
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  header h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  header nav a {
    margin-left: 0;
    margin-right: 1em;
  }

  h2 {
    font-size: .5em;
  }
}

/* Sections */
section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0em 0em;
  padding-bottom: 2em;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  text-align: left;
  letter-spacing: 1.3px;
  margin-bottom: 1em;
}

p2 {
  font-weight: 400;
  font-size: 17px;
  letter-spacing: .5px;
  font-style: italic;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 0; /* no gaps */
  width: 100%;
}

.gallery img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;  /* makes a square aspect ratio */
  object-fit: cover;      /* crop to fill the square */
  display: block;
}

/* Responsive: 1 column on small screens */
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
  .gallery img {
    padding-bottom: 2px;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
